<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412132109117-3ceddks2d8ncduf7d5j3798d4f6g1pa5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412132109117-3ceddks2d8ncduf7d5j3798d4f6g1pa5</string>
	<key>API_KEY</key>
	<string>AIzaSyD7W6lnZu9MDeRLXCZsm90LI_Rhf9RZtDc</string>
	<key>GCM_SENDER_ID</key>
	<string>412132109117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lubov.MessageChat</string>
	<key>PROJECT_ID</key>
	<string>messagechat-3fd1b</string>
	<key>STORAGE_BUCKET</key>
	<string>messagechat-3fd1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412132109117:ios:5efee98d4fff26c430f354</string>
</dict>
</plist>